    <div class="col-sm-10" style="">
        <div id="login" style="">
        	<h3>Not registered yet? 
                <a href="/#/register" class="btn btn-default" style="font-weight:bold">
                    <i style="padding-right:8px;color:#1E90FF" class="fa fa-sign-in" aria-hidden="true">
                    </i>Register
                </a>
            </h3>
        	<div class="alert alert-danger" ng-show="formError">{{formError}}</div>
        	<div class="well">
    	    	<form class="form-horizontal" ng-submit="onSubmit()">
    		        <div class="form-group">
    		            <label><b>Email</b></label>
    		            <input type="email" class="form-control" ng-model="credentials.email"   name="email">

    		            <label><b>Password</b></label>
    		            <input type="password" class="form-control" ng-model="credentials.password"  name="psw">
    		            
    		            <button type="submit" class="btn btn-primary">Login</button>
    		            <span style="float: right;padding-top: 16px;">Forgot <a href="">password?</a></span>
    		        </div>
    	    	</form>
        	</div>
            <div class="well">
        		<h4>Login with Facebok</h4>
        		<a id="facebook-login" href='/api/auth/facebook' class="btn btn-primary"><span style="padding-right:5px" class="fa fa-facebook"></span> Login</a>
        	</div>
        </div>
    </div>