
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  
  /*.jumbotron {

      background-color:#2E2E2E;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }*/
  .container-fluid {
      
      color:#8A3F3C;
  }
  .container{
    padding:0px;
  }
 
  .navbar {
      margin-bottom: 0;
      background-color: #632927;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  #txt_below_pf{
		
	font-family:oblique;


  }

  .navbar-brand{
		
	font-family:oblique;


  }
input[type="text"] {
    font-family: FontAwesome;
    font-size: 25px;
}
input[type="text"]::-webkit-input-placeholder {
color: black !important;
}

/*Modal for review */
.form-horizontal{
  padding:0 20px 0 20px;
}
.modal-header{
  background: #632927;
  color: white;
}
.form-group label{
  color:black;
  font-weight: bold;
}
.form-group input:focus{
  background:#ccc;
}
.form-group textarea:focus{
  background:white;
}
.modal-footer{
  background: #632927;
}

#reviews{
  border:1px solid #000;
  padding:0px 10px 0px 10px; 
}
.review{
  padding: 0 20px 0px 20px;
}

#nav-dropdown li a {
  color: #000 !important;
  max-width: 500px;
  min-width: 200px;
  text-decoration: none;
}
#nav-dropdown li a:hover{
  color: #f4511e !important;
  background-color: gray !important;

}


#chat-box{
  border: 2px solid gray;
  max-height:400px;
  min-height: 400px;
  width: 25%;
  position: fixed;
  bottom: 0;
  right:0;
  background: #fff;
}
@media only screen and (max-width: 800px) {
    #chat-box {
        width: 100%;
    }
    .col-sm-10 {
        padding:0px;
    }
    #products-post{
      width:90%;
    }
}
@media screen and (min-width: 1020px) { /*// for laptop and pcs*/
    #category{
      height: 700px;
      border-right:1px solid #632927;
    }
    .col-sm-10 {
        padding-left:50px;
    }

    #pager-bottom{
      visibility: hidden;
      display: none;
    }
    #login{
      padding-left: 40px;
      padding-right: 80px;
    }
    #register{
      padding-left: 40px;
      padding-right: 80px;
    }
    #products-post{
      padding:30px 20px 30px 20px;
      margin-top: 30px;
      width:70%;
    }
}
#chat-content{
  height: 250px;
  width: 100%;
  overflow-y:scroll; 
}
#chat-header{
  background-color: #632927;
}
#store-detail{
  color:black;
}
#map {
      height: 400px;
      width: 100%;
      border:2px solid black;
    }
#floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

#sort-dropdown li a:hover{
  background-color:#632927;
  color:#fff;
}

@media only screen and (max-width: 600px) {

    #chat{
      display: none;
      visibility: hidden;
    }
    .col-xs-12{
      padding-left:0px;
      padding-right: 0px;
    }
    #nav-dropdown li a{
      width: 80%;
      overflow: scroll;
    }
    #pager{
      position: relative;
      bottom: 0px;
      margin-top: 20px;
      padding-left: 40px;
      z-index: 5;
    }
    #login{
    padding-left: 10px;
    padding-right: 10px;
    }
    #register{
      padding-left: 10px;
      padding-right: 10px;
    }
    /* items per page select smaller  */
    #selectItem{
      font-size: 12px;
    }
    #show-products .dropdown{
      font-size: 13px;
    }
    .w3-content{
      height: 100px;
    }
    .mySlides {display:none;width:100%;height:200px}

    #floating-panel{
      margin-top:345px;
      left:0;
    }

}
textarea {
   resize: none;
}

#post-well{
  border: 2px solid #000;
}
#post-well input,#post-well textarea,#post-well select{
  border: 1px solid gray;
}

.list-unstyled li{
  border:1px solid gray;
  padding: 5px;
}
.list-unstyled li:hover { 
  background-color: #632927;

}
.list-unstyled li:hover a{ 
  color:#fff !important;

}
#hr-featured{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
}
.nav-tabs > li.active > a{
  background-color:#632927;
  color: white;
}
.nav-tabs  > li > a:hover{
  background-color: gray;
  color: white;
}
.nav-tabs  > li {
  border: 1px solid black;
}

/* hide chat div*/


 