<div class="col-sm-9">
	<h3>Change your Password</h3>
	<div class="alert alert-danger" ng-show="formError">{{formError}}</div>

	<div class="well">
    	<form class="form-horizontal" ng-submit="onSubmit()">
	        <div class="form-group">

	            <label><b>Email</b></label>
	            <input type="email" class="form-control" ng-model="credential.email"   name="email" required>
	            <label><b>Change Password</b></label>
	            <input type="password" class="form-control" ng-model="credential.password"   name="password" required>
	            <label><b>Confirm Password</b></label> <span style="background-color:#ffcccc;color:black;padding:5px"  ng-show="passwordError">{{passwordError}}</span>
	            <input type="password" class="form-control" ng-model="confirmPassword"   name="confirm">

	            
	            <button type="submit" class="btn btn-primary">Reset Password</button>
	        </div>
    	</form>
	</div>
	
</div>