<% include layout %><!--call navbars from layout file-->

<div id="products" class="container-fluid"> <!--container starts-->
    <div class="row" style="background:#262626">
        <!--Categories rows-->
        <div class="col-sm-3">
            <h2 class="text-center">Advance Search</h2>
            <hr>
            <div class="jumbotron" style="padding-top:20px">
                <h3 class="text-center">Categories</h3>
                <br>
                <a href="/product/category/phone"><h4>Phones & GPS</h4></a>
                <a href="/product/category/laptop"><h4>Computers & Laptops</h4></a>
                <a href="/product/category/audio"><h4>Audio & Video</h4></a>
                <a href="/product/category/camera"><h4>Cameras & Films</h4></a>
                <a href="/product/category/home"><h4>Homes & Gardens</h4></a>
                <a href="/product/category/sports"><h4>Sports & Outdoors</h4></a>
                <a href="/product/category/dailyDeals"><h3 style="color:red">Daily Deals</h3></a>
            </div>
        </div>
        <!--Products list-->

        <div class="col-sm-9 col-xs-12" style="padding-top:20px">
            <div class="row">
                <% for(var i=0; i<product.length; i++) { %>
                    <div class="col-sm-4 col-xs-12 text-center" style="line-height:0.9em;height:auto;overflow:hidden">

                        <a href="/product/<%=product[i]._id %>"><img src ="https://i.ytimg.com/vi/E9XpAtxb5Fc/maxresdefault.jpg" height="80%" width="100%"></a>
                        <h3><%=product[i].name %></h3>
                        <p><%=product[i].store[0].name %></p>
                        <p>€ <%=product[i].varient[0].sizeDetail[0].price %></p>
                        <span class="glyphicon glyphicon-star" style="color:#c63939"></span>
                        <span class="glyphicon glyphicon-star" style="color:#c63939"></span>
                        <span class="glyphicon glyphicon-star" style="color:#c63939"></span>
                        <span class="glyphicon glyphicon-star-empty" style="color:#c63939"></span>
                        <span class="glyphicon glyphicon-star-empty" style="color:#c63939"></span>
                    </div>
                <% } %>
                
            </div>

        </div>
    </div>
</div> <!--container closes here-->
<hr style="width:95%">

<% include footer%>


