    <div class="" style="width:100%;padding-top:20px;margin:0">
    
            <!-- Footer -->
            <footer class="text-center" style="">
                <div class="row">
                    <div class="col-sm-4" style=";padding-top:30px">
                        <h3><a style="color:#fff" href="/#/">Gadget Finder</a></h3>
                        <p><a style="color:#fff">Contact Us</a></p>
                        <p><a style="color:#fff">About Us</a></p>

                    </div>
                    <div class="col-sm-4" class="" style=";padding-top:30px">
                        <h3>Social Network</h3>
                        
                        <a href="" class="btn btn-primary"><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                        <a href="" class="btn btn-primary"><i class="fa fa-linkedin" style="font-size:30px;"></i></a>
                        <a href="" class="btn btn-primary"><i class="fa fa-twitter" style="font-size:30px"></i></a>
                    </div>
                    <div class="col-sm-4"  style=";padding-top:30px;text-align:center;">
                        <h3>Features</h3>
                        
                        <div class="row" >
                            <div class="col-sm-3 col-xs-12">
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <ul class="list-unstyled" >
                                    <li><a style="color:white" href="">Search Gadgets</a>
                                    </li>
                                    <li><a style="color:white" href="">Location Track</a>
                                    </li>
                                    <li><a style="color:white" href="">Check Availibility</a>
                                    </li>
                                    <li><a style="color:white" href="">Add Review</a>
                                    </li>
                                </ul>
                            </div>
                            <div class='col-sm-3'>
                            </div>
                        </div>
                    </div> 
                 
                </div>

                <hr style="width:80%">
                <!-- subscribe form -->
                <div class="row">
                    <div class="col-sm-4">
                        <!-- something may goes here -->
                    </div>
                    <div class="text-center col-sm-4 col-xs-12">
                        
                    </div>
                    <div class="col-sm-4">
                        <!-- something may goes here -->
                    </div>

                </div>
                <div style="background:black;padding:5px 0 5px 0;width:100% !important;">
                    <h4>Copyright &copy; Gadget Finder , <small><a href="http://users.metropolia.fi/~haria/" target="blank">Designed by Haria</a></small></h4>
                </div>
      
            </footer>
    </div>