<!DOCTYPE html>
<html ng-app="productFinder">
<head>
  
  <title>Product Finder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- jquery ui css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--jquery ui -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!--moment js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <!--scrolltop plugin-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="javascripts/page.js"></script>
  

  <!--Adding angular js scripts -->
  <script data-require="angular.js@*" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="/lib/angular-route.min.js"></script><!--include route lib file-->
  <!-- ng sanitize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
  
  <script src="ng-file-upload-shim(.min).js" type="javascript/text"></script> <!-- for no html5 browsers support -->
  <script src="ng-file-upload(.min).js" type="javascript/text"></script>
  <!--angularjs ui library js files -->
 
  <script src="/app.js"></script>

  <script src="/common/directives/navigation/navCtrl.js"></script>
  <script src="/common/directives/navigation/nav.directive.js"></script>
  <script src="/productList/homeCtrl.js"></script><!--include home ctrl js file-->
  <script src="/productDetail/detailsCtrl.js"></script>
  <script src="/productList/categoryCtrl.js"></script>
  <script src="/login/loginCtrl.js"></script>
  <script src="/register/registerCtrl.js"></script>
  <script src="/store/storeDetail.js"></script>
  <script src="/post/postproduct.js"></script>
  <script src="/about/aboutCtrl.js"></script>
  <script src="/social/facebookCtrl.js"></script>
  <script src="/resetPassword/resetCtrl.js"></script>
  <script src="/resetPassword/resetpasswordCtrl.js"></script>

  <script src="/common/services/dataService.js"></script>
  <script src="/common/services/authentication.service.js"></script>
  <script src="/common/services/locationService.js"></script>
  <!--socket io-->
  <script src="/io.js" type="javascript/text"></script>
  <script src="/socket.io/socket.io.js" ></script>
  <!-- google map -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzwiJZXDlrg2qWL1pNf4cSnA-DQ7t0yBU">
    </script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">