<%- include('header.ejs') -%>

<navigation></navigation> <!-- get directives from app_client/common-->

<div class="well container" style="margin-bottom:0px;border-bottom:3px solid #632927;width:100% !important" >

      <div class="w3-content" style="width:100%;">
          <img class="mySlides" src="/images/earphone.jpg" >
          <div class="img-text">
              <h1 style="color:red;font-weight:bold;text-shadow:2px 3px black">Find All Gadgets here</h1>
              <a class="btn btn-primary" href="">Choose your best</a>
              <div style="" id="search-div">
                  <form class="form-inline">
                    <input id="search" ng-model="search" type="text" name="search" class="form-control" size="50"  placeholder="&#xf002;    Search here..." autocomplete="off">
                        
                  </form>

              </div>
          </div>
          <img class="mySlides" src="/images/earphone.jpg">
          <img class="mySlides" src="/images/gadget.jpg">
          <img class="mySlides" src="/images/mac.jpg">

      </div>

  </div>
<div id="main-container" class="container-fluid"> <!--container starts-->
    <div class="row">
        <!--Categories rows-->
        <nav class="navbar-default" style="background-color:white;color:black">

            <div class="navbar-header">
                <button class="navbar-toggle btn btn-default" data-toggle="collapse" data-target="#category-bar" style="float:left;border:1px solid #ccc;padding:8px;width:100%">
                     <span style="color:red;">Category</span>
               </button>
            </div>
        </nav>
        <div class="col-sm-3" id="category" role="navigation">
            <div class="collapse navbar-collapse" id="category-bar">
                <div style="color:white;background:#8A3F3C">
                    <h3 class="text-center" style="padding:10px">Categories</h3>
                </div>
                <hr>
                <div>
                    <ul class="list-unstyled" id="category-list" class="nav">
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/phone">Smart Phones</a></li>
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/mobilecase">Phone Cases</a></li>
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/laptop">Laptops</a></li>
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/desktop">Desktop Computer</a></li>
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/camera">Camera</a></li>
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/audio">Speakers</a></li>
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/game">Games</a></li>
                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="/#/product/category/sport">Shoes & Bags</a></li>
                      </ul>

                </div> <!--accordion ends here -->
            </div>
        </div> <!-- category ends here-->
        <div ng-view > 
          
        </div>
    </div>
    <hr id="hr-featured">
    

</div>
<%- include('footer.ejs') -%>


<a href="" id="chat" class="btn btn-info btn-lg" style="position:fixed;bottom:0;margin-bottom:20px;">
    <span class="glyphicon glyphicon-comment"></span> Chat
</a>

<div id="chat-box" class='container' style="display:none;">
    <div id="nouser-box">
      <div id="chat-header" style="padding:20px 20px 1px 20px">
          <h4 style="display:inline;color:white">Chat</h4>
          <button style="display:inline;color:white" type="button" class="close" id="chat-close">&times;</button>
      </div>
      

      <div id="chat-content" style="color:black">
              
              <!--messages comes here-->
          
      </div>
      <form id="chat-form" role="form" style="position:fixed;bottom:0">
              <div class="form-group">
                  <input type="text" class="form-control" id="text" autocomplete="off" style="display:inline;border:1px solid black">
              </div>
              
      </form>
  </div>

</div>

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    
    setTimeout(carousel, 4500,'slow',0.3); 
}

  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });

  function mapinit() {
  var myCenter = new google.maps.LatLng(51.508742,-0.120850);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 5};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}
</script>

</body>
</html>




