<% include layout %>




<!-- Under Construction -->




<div class="jumbotron">
	<form action="" enctype="multipart/form-data" method="post">
	    <div class="form-group">

	      <label>Name:</label>
  			<input type="text" class="form-control" id="name" name="name" size="35">
  			<label>Brand:</label>
  			<input type="text" class="form-control" id="brand" name="brand">
  			<label>Image:</label>
  			<input type="file" class="form-control" id="image" name="image">
  			<label>Category:</label>
  			<input type="text" class="form-control" id="category" name="category">
  			<label>Color:</label>
  			<input type="text" class="form-control" name="color">
  			<label>Size:</label>
  			<input type="text" class="form-control" name="size">
  			<label>More Images:</label>
  			<input type="text" class="form-control" name="url">
  			<label>Available:</label>
  			<input type="text" class="form-control" name="available">
  			<label>Product Descriptions:</label>
  			<input type="text" class="form-control" name="detail">
  			<label>Price:</label>
  			<input type="text" class="form-control" name="price">
  			<label>Manufactured:</label>
  			<input type="text" class="form-control" name="manufactured">
  			<label>Expiry:</label>
  			<input type="text" class="form-control" name="expiry">
        <input type="submit" value="Submit"></input>

	    </div>
	</form>
</div>