    <div class="" style="width:100%;padding-top:20px">
        
            <!-- Footer -->
            <footer class="text-center" style="">
                <div class="row">
                    <div class="col-sm-4" style=";padding-top:30px">
                        <h3>Kathmandu Daily</h3>
                        
                        <p>Contact Us</p>
                        <p>About Us</p>
                        <button class="btn btn-default">Share your Post</button>

                    </div>
                    <div class="col-sm-4" class="" style=";padding-top:30px">
                        <h3>Social Network</h3>
                        
                        <a href="" class="btn btn-primary"><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                        <a href="" class="btn btn-primary"><i class="fa fa-linkedin" style="font-size:30px;"></i></a>
                        <a href="" class="btn btn-primary"><i class="fa fa-twitter" style="font-size:30px"></i></a>
                    </div>
                    <div class="col-sm-4"  style=";padding-top:30px;text-align:center;">
                        <h3>Explore More</h3>
                        
                        <div class="row" >
                            <div class="col-sm-12 col-xs-12">
                                <ul class="list-unstyled" >
                                    <li><a style="color:white" href="">Social</a>
                                    </li>
                                    <li><a style="color:white" href="">Economy</a>
                                    </li>
                                    <li><a style="color:white" href="">Places around</a>
                                    </li>
                                    <li><a style="color:white" href="">Activities</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                 
                </div>

                <hr style="width:70%">
                <!-- subscribe form -->
                <div class="row">
                    <div class="col-sm-4">
                        <!-- something may goes here -->
                    </div>
                    <div class="text-center col-sm-4 col-xs-12">
                            <div id="form" class="text-center" style="color:red;text-align:left">
                                <form role="form"  method="post" enctype="text/plain">
                                    <h2 style="text-align:center;color:#cdefff">Comment or Feedback</h2>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                    </div>                   
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control"name="comment" id="textarea" rows="5" placeholder="write Feedback here...."></textarea>
                                    </div>
                                    <button style="background:#66ccff" type="submit"id="submit" class="btn btn-default">Submit</button>
                                </form>
                                <br>
                            </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- something may goes here -->
                    </div>

                </div>
                <div style="background:black;padding:5px 0 5px 0">
                    <h4>Copyright &copy; Kathmandu Daily , <small><a href="http://users.metropolia.fi/~haria/" target="blank">Designed by Haria</a></small></h4>
                </div>
      
            </footer>
    </div>
    <a id="backtopButton-link" href="#navigation" style="padding-left:15px">
        <i style="color:green;font-size:50px" class="fa fa-arrow-circle-up" aria-hidden="true"></i>
    </a>