<!DOCTYPE html>
<html ng-app="productFinder">
<head>
  
  <title>Product Finder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Cloudinary js files -->
  <script type="text/javascript" src="javascripts/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="javascripts/javascripts/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="javascripts/jquery.fileupload.js"></script>
  <script type="text/javascript" src="javascripts/jquery.cloudinary.js"></script>
  <!--ends of cloudinary js files-->
  <script src="javascripts/page.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <!--Adding angular js scripts -->
  <script src="/angular/angular.min.js"></script>
  <script src="/lib/angular-route.min.js"></script><!--include route lib file-->
  <script src="ng-file-upload-shim(.min).js"></script> <!-- for no html5 browsers support -->
  <script src="ng-file-upload(.min).js"></script>
  <!--angularjs ui library js files -->
  <script src="/lib/ui-bootstrap-custom-0.12.0.min.js"></script>
  <script src="/lib/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
  <script src="/app.js"></script>
  <script src="/common/directives/navigation/navCtrl.js"></script>
  <script src="/common/directives/navigation/nav.directive.js"></script>
  <script src="/productList/homeCtrl.js"></script><!--include home ctrl js file-->
  <script src="/productDetail/detailsCtrl.js"></script>
  <script src="/productList/categoryCtrl.js"></script>
  <script src="/productList/searchCtrl.js"></script>
  <script src="/login/loginCtrl.js"></script>
  <script src="/register/registerCtrl.js"></script>
  <script src="/post/postproduct.js"></script>
  <script src="/common/services/dataService.js"></script>
  <script src="/common/services/authentication.service.js"></script>
  <script src="/common/services/locationService.js"></script>
  <script src="/io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
 
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<navigation></navigation> <!-- get directives from app_client/common-->

<div class="container"> <!--container starts-->
 
</div>

</body>
</html>
