    <div class="col-sm-9">
    	<div id="register">

    			<h3>Have an account? 
					<a href="/#/login"class="btn btn-success" style="font-weight:bold">
						<i style="padding-right:8px;color:#fff" class="fa fa-sign-in" aria-hidden="true">
						</i>Login
					</a>
				</h3>
	    	<div class="alert alert-danger" ng-show="formError">{{formError}}</div>
	    	<div id="warning"></div>

	    	<div class="well">
		    	<form class="form-horizontal"  ng-submit="onSubmit()" >
			        <div class="form-group" style="width:100%;padding-left:30px">
			        	<label><b>Name</b></label>
			            <input type="text" class="form-control" ng-model="credentials.name"  name="name" required>
			            <label><b>Email</b></label>
			            <input type="email" class="form-control" ng-model="credentials.email"   name="email" required>

			            <label><b>Password</b></label>
			            <input type="password" class="form-control" ng-model="credentials.password"  name="psw" required>
			            
			            <button type="submit" class="btn btn-primary">Register</button>
			        </div>
		    	</form>
		    	<hr>
        		<h4>Login with Facebook</h4>
        		<a id="facebook-login" href='/api/auth/facebook' class="btn btn-primary"><span style="padding-right:5px" class="fa fa-facebook"></span>Login</a>
        	</div>
    	</div>
    </div>