<div id="postproduct" class="col-sm-9 col-xs-12" style=";padding-top:20px;">
    <div class="jumbotron">
    	<form ng-submit="onSubmit()" enctype="multipart/form-data" method="post">
    	    <div class="form-group">
    	      <label>Select store:</label>
    	      <select ng-model="store" class="form-control" id="post">
    	        <option> gigantti espoo </option>
              <option> gigantti helsinki </option>
              <option> gigantti vantaa </option>
    	      </select>

    	      <label>Name:</label>
      			<input type="text" class="form-control" ng-model="name" name="name" size="35">
      			<label>Brand:</label>
      			<input type="text" class="form-control" ng-model="brand"name="brand">
      			<label>Image:</label>
      			<input type="file" class="cloudinary-fileupload" data-cloudinary-field="image_upload" 
                data-form-data="" class="form-control" ng-model="image" name="image">
      			<label>Category:</label>
      			<input type="text" class="form-control" ng-model="category" name="category">
      			<label>Color:</label>
      			<input type="text" class="form-control" ng-model="color" name="color">
      			<label>Size:</label>
      			<input type="text" class="form-control" ng-model="size" name="size">
      			<label>More Images:</label>
      			<input type="text" class="form-control" ng-model="url" name="url">
      			<label>Available:</label>
      			<input type="text" class="form-control" ng-model="available" name="available">
      			<label>Product Descriptions:</label>
      			<input type="text" class="form-control" ng-model="detail" name="detail">
      			<label>Price:</label>
      			<input type="text" class="form-control" ng-model="price" name="price">
      			<label>Manufactured:</label>
      			<input type="text" class="form-control" ng-model="manufactured" name="manufactured">
      			<label>Expiry:</label>
      			<input type="text" class="form-control" ng-model="expiry" name="expiry">
            <input type="submit" value="Submit"></input>

    	    </div>
    	</form>
    </div>
</div>