
	<!--Products list-->

<div id="products" class="col-sm-9 col-xs-12" style=";padding-top:20px;">
	<div id="wait">
		<i class="fa fa-spinner fa-spin text-center" style="font-size:44px;margin-left:45%;line-height: 350px;height: 350px;"></i>
	</div>
	<div id="show-products">
		<div class="row">

			<!-- sort items  -->
			<div class="dropdown col-sm-4 col-xs-6" style="display:inline-block;color:black">
			    <button  class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort by: {{sortTitle}}
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu" id="sort-dropdown">
			        <li><a href="" ng-init="sortBy='name'; sortTitle='A-Z'" ng-click="sortBy='name'">A-Z/a-z</a></li>
			        <li><a href=""  ng-click="sortBy='-name'; sortTitle='Z-A'">Z-A/z-a</a></li>
			        <li><a href=""  ng-click="sortBy='varient[0].sizeDetail[0].price'; sortTitle='Price ASC'">Min Price</a></li>
			        <li><a href="" ng-click="sortBy='-varient[0].sizeDetail[0].price' ; sortTitle='Price DESC'">Max Price</a></li>
			        <li><a href="" ng-click="sortBy='-createdOn' ; sortTitle='Recent'">Recently Added</a></li>
			        <li><a href="" ng-click="sortBy='dis' ; sortTitle='distance'">Best Location</a></li>
			    </ul>
			</div>

			<!-- pager -->
			<div style="display:inline-block;position: absolute; right:0; padding-right:20px;color:black" id="pager" class="col-sm-4 col-xs-12">
				<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=0">
		        	First
		    	</button>
		    	<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
		        	<i class="fa fa-angle-double-left" aria-hidden="true"></i>
		    	</button>
		    		<button class="btn btn-default">{{currentPage+1}}/{{numberOfPages()}}</button>
			    <button class="btn btn-default" ng-disabled="currentPage >= items.length/numPerPage - 1" ng-click="currentPage=currentPage+1">
			        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
			    </button>
			    <button class="btn btn-default" ng-disabled="currentPage >= items.length/numPerPage - 1" ng-click="currentPage=numberOfPages()-1">
		        	Last
		    	</button>
			</div>
		</div>
		
		<div class="row" style="display: flex;flex-wrap: wrap;" id="test-product">
		        <div id="product-div" class="jumbotron col-sm-4 col-md-4 col-xs-12 text-center" style=";border:8px solid #fff;padding:10px;line-height:0.9em;overflow: hidden;display: flex;flex-direction: column;" ng-init="distance=disCalc(product.store[0].coords[0],product.store[0].coords[1],product); ratings=rating(product)"  ng-repeat="product in filteredItems| filter:search| limitTo:numPerPage| orderBy : sortBy" >

		            <a id="detail-link" href="/#/product/{{product._id}}"><img src ="{{product.image}}" height="180px" width="100%"></a>
		            <h3 style="color:black">{{product.name}}</h3>
		            <p>€ {{ product.varient[0].sizeDetail[0].price }}</p>
					<h4 style="color:black">
						<span class="glyphicon glyphicon-star{{ ratings<1 ? '-empty' : ''}}" style="color:#c63939"></span>
						<span class="glyphicon glyphicon-star{{ ratings<2 ? '-empty' : ''}}" style="color:#c63939"></span>
						<span class="glyphicon glyphicon-star{{ ratings<3 ? '-empty' : ''}}" style="color:#c63939"></span>
						<span class="glyphicon glyphicon-star{{ ratings<4 ? '-empty' : ''}}" style="color:#c63939"></span>
						<span class="glyphicon glyphicon-star{{ ratings<5 ? '-empty' : ''}}" style="color:#c63939"></span>
					</h4>
		            <p>{{product.store[0].name}}<span style="color:black;font-size:16px" ng-show="distance"> : {{distance}} KM</span></p>
		        </div>
		    
		</div>
					<!-- items per page display-->
			<div class="selectItem-div">
				<select id="selectItem"  ng-init="numPerPage=9"ng-model="numPerPage" style="color:black;height:32px;padding-top:3px;padding-bottom:4px;float:right;display:none">
				      <option value="6" >Items Per Page:  6</option>
				      <option value="9" >Items Per Page:  9</option>
				      <option value="12" >Items Per Page:  12</option>
				      <option value="15" >Items Per Page:  15</option>
				      <option value="{{totalItemsLength}}" >Items Per Page:  all</option>
				    </select>
			</div>

	</div>
</div>




